<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script src="https://smtpjs.com/v3/smtp.js">
</script>
<div class="signature">
  <form name='submit-to-google-sheets' class="signature__form" data-url="<%= send_email_path %>">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" placeholder="First Name" required="true"/>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" placeholder="Last Name" required="true"/>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder=" Username" required="true"/>
    <div class="fieldset">
      <fieldset>
        <input type="checkbox" id="coding" name="coding" value="coding">
        <input type="hidden" id="codingHidden" name="coding" value="not-coding">
        <label for="coding">Coding</label>
      </fieldset>
      <fieldset>
        <input type="checkbox" id="hipster" name="hipster" value="hipster">
        <input type="hidden" id="hipsterHidden" name="hipster" value="not-hipster">
        <label for="hipster">Hipster</label>
      </fieldset>
      <fieldset>
        <input type="checkbox" id="swag" name="swag" value="swag">
        <input type="hidden" id="swagHidden" name="swag" value="not-swag">
        <label for="swag">Swag</label>
      </fieldset>
      <fieldset>
        <input type="checkbox" id="spiritual" name="spiritual"  value="spiritual" >
        <input type="hidden"  name="spiritual" value="not-spiritual" >
        <label for="spiritual">Spiritual</label>
      </fieldset>
    </div>
    <fieldset>
      <div class="signature__pad">
        <div class="signature__pad__body">
          <canvas></canvas>
        </div>
      </div>
      <input type="hidden" name="signature" required="true">
    </fieldset>
    <button type="submit"id="submit-form">Submit</button>

  </div>
</form>
<%= javascript_pack_tag "form.js" %>
